* {
    margin: 0;
    padding: 0;
}
.form {
    margin: auto;
    margin-top: 20px;
    font-family:  Arial, sans-serif;
    max-width: 380px;
    background-color: white; /* Set the background to white */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    

}

.form .grupo_input{
    position: relative;
}


.form .grupo_input .input{
    padding: 12px 0px 12px 42px;
    outline: none;
    width: 95%;
    padding: 10px;
    background-color: rgba(192, 208, 215, 1); /* Custom color for inputs */
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
}

.form .grupo_input i{
    position: absolute;
    margin-left: 160px;
    top: 30px;
    font-size: 20px;
    color: blue;
    
}



.formLabel {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    width: 90%;
    size: 20px;
}

 input {
    background-color: rgba(0, 74, 173, 1); /* Bootstrap's primary color */
    color: rgb(248, 245, 245);
    font-size: large;
    width: 380px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}
  
 input[type='submit']:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

.navbar {
    display: flex; 
    justify-content: space-around; 
    background-color: #D9D9D9;
  }
    
  .itemNav {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }
    
  .itemNav a {
    display: block; 
    margin: 5px 0; 
    color: black; 
    text-decoration: none;
  }
    
  .itemNav img {
    height: auto; 
    width: 30px; 
  } 