.mainForm {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 380px;
    background-color: white; /* Set the background to white */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
  
.singInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.formLabel {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}
  
.formInput {
    width: 100%;
    padding: 10px;
    background-color: rgba(192, 208, 215, 1); /* Custom color for inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
  
.singInForm input[type='submit'] {
    background-color: rgba(0, 74, 173, 1); /* Bootstrap's primary color */
    color: white;
    font-size: large;
    width: 380px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.singInForm input[type='submit']:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}
  
.singInForm a {
    text-decoration: none;
    color: black;
}

.forgotPassword{
    color: black;
}


  
.singInForm button {
    width: 380px;
    font-size: large;
    background-color: white;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
  
.singInForm button:hover {
    background-color: #e0e0e0; /* Light gray on hover */
}
  