h3{
    color: black;
    text-align: center;
}

#boton-enviar {
    background-color: #0074D9; 
    color: #FFFFFF;
    font-size: 18px; 
    padding: 5px 5px 
}

#boton-enviar:hover {
    background-color: #0056A7; 
    cursor: pointer; 
}

button {
    position: absolute;
    top: auto;
    right: 425px;
    transform: translate(-50%, -20%);
}

body {
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}